body {
  font-family: Helvetica;
}

h1 {
  text-align: center;
  font-weight: lighter;
  color: black;
  font-size: 80px;
}

.jumbotron {
  background-image:url('BGjumbo1.jpg')
}


.jumbotron h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  color: white;
  background-color: black;
}

.jumbotron p {
  text-align: center;
  color: white;
  background-color: black;
}
